<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Using App.config name will allow automatic change to NameOfExecutable.exe.config when compiled -->
    <startup>
        <supportedRuntime version="v2.0.50727" />   <!-- v3.0 & v3.5 -->
        <supportedRuntime version="v4.0" />
        <supportedRuntime version="v4.5" />
    </startup>
    <!--The following allows the use of directories beneath the executable assembly's root directory (aka the output folder), instructing
    the CLR to probe for PRIVATE assemblies in the indicated sub-directories. Absolute and relative path syntax is NOT allowed. See 
    Pro .NET 3.5 Page 500-->
    <!--<runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="MyLibrarys; MyLibrarys\Tests" />
        </assemblyBinding>
    </runtime>-->
    
    <!--See Pro .NET 3.5 Page 512 for instructions on how to redirect binding to a SHARED assembly in the GAC, using a 
    different Version number which avoids the need to re-compile the executable assembly -->
</configuration>